*{
    margin: 0;
    padding: 0;
}
header {
    background-color: green;
}


.checkout-content {
    display: flex;
}
.checkout {
    display: flex;
    flex-direction: column;
}
/* This section is only the credit form */
.credit {
    /* height: 50vh; */
    border: 2px solid black;
    flex: 1;
    width: 50vw;
    margin: 2px;
}
.cc {
    
    /* display: flex;
    flex-wrap: wrap; */
    padding: 10px;
}
.one {
    display: flex;
    justify-content: space-evenly;
}
.two {
display: flex;
justify-content: space-evenly;
}
.fname {
    display: flex;
    flex-direction: column;
}
.lname {
    display: flex;
    flex-direction: column;
}
.email {
    display: flex;
    flex-direction: column;
}
.phone {
    display: flex;
    flex-direction: column;
}
.three {
display: flex;
flex-direction: column;
padding-left: 135px;
padding-right: 135px;

}
.four {
display: flex;
justify-content: space-evenly;
}
.state {
display: flex;
flex-direction: column;
}
.zip {
display: flex;
flex-direction: column;
}
label {
    /* margin: 10px; */
    padding-top: 10px;
    padding-bottom: 5px;
}
input {
    /* margin: 10px; */
}
.shipping {
    border: 2px solid black;
    flex: 1;
}
.cart {
    border: 2px solid black;
    flex: 1;
}

/* This section is for the shipping */
.shipping {
   margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shipping-form {

    display: flex;
    flex-direction: row;
    

}
.ship {
    display: flex;
    flex-direction: column;
    padding: 40px 10px 10px 10px;
    margin-right: 40px;
}
.info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 20px;
}

/* this is for the cart */
.cart {
    display: flex;
    justify-content: center;
    margin: 2px;
}


