*{
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
}
header {
    height: 100px;
    background: rgb(78,78,78);
    background: linear-gradient(180deg, rgba(78,78,78,1) 3%, rgba(77,77,77,1) 50%, rgba(54,50,50,1) 100%);
    border-bottom: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.monkey {
    padding-left: 80px;
    font-family: 'Fjalla One', sans-serif;
    color: whitesmoke;
    font-size: 32px;
}


.checkout-content {
    display: flex;
    padding: 80px;

}
.checkout {
    display: flex;
    flex-direction: column;
    
    
}
/* This section is only the credit form */
.credit {
    /* height: 50vh; */
    border: 1px solid black;
    flex: 1;
    width: 50vw;
    margin: 8px;
    padding: 20px;
    box-shadow: 0 0 30px #333;
}
.checkout-title {
    text-align: center;
    
}
.cc {
    
    /* display: flex;
    flex-wrap: wrap; */
    padding: 10px;
}
.one {
    display: flex;
    justify-content: space-evenly;
}
.two {
display: flex;
justify-content: space-evenly;
}
.fname {
    display: flex;
    flex-direction: column;
}
.lname {
    display: flex;
    flex-direction: column;
}
.email {
    display: flex;
    flex-direction: column;
}
.phone {
    display: flex;
    flex-direction: column;
}
.three {
display: flex;
flex-direction: column;
padding-left: 140px;
padding-right: 140px;

}
.four {
display: flex;
justify-content: space-evenly;
}
.state {
display: flex;
flex-direction: column;
}
.zip {
display: flex;
flex-direction: column;
}
label {
    /* margin: 10px; */
    padding-top: 10px;
    padding-bottom: 5px;
}

/* This section is for the shipping */
.shipping {
   margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    flex: 1;
    padding: 20px;
    box-shadow: 0 0 30px #333;
}
.shipping-form {

    display: flex;
    flex-direction: row;
    

}
.ship {
    display: flex;
    flex-direction: column;
    padding: 40px 10px 10px 10px;
    margin-right: 40px;
}
.info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 20px;
}

/* this is for the cart */
.cart {
    display: flex;
    flex-direction: column;
    margin: 8px;  
    border: 1px solid black;
    flex: 1;    
    padding: 20px;
    box-shadow: 0 0 30px #333;
}
.cart-title {
    text-align: center;
}
.item {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 5px;
    padding: 20px 30px;
    height: 120px;
    display: flex;
    align-items: center;
  }
   .item-quantity {
       width: fit-content;
   }
 
.cart-stuff {
    padding: 10px;
}

  .delete-btn{
    display: inline-block;
    Cursor: pointer;
    width: 18px;
    height: 17px;
  }
.total-price {
    display: inline;
}

img {
    width: 70px;
    height: 70px;
}
 
.payment {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.btn {
    margin-top: 40px;
    background-color: rgb(243, 243, 6);
    box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}


